html, body{
  height: 100%;
}


.form-control {
  width: 300px;
  margin-bottom: 25px;
}

.book-cover {
  height: 500px;
  width: 350px;
}

.book-cover-small {
  height: 300px;
  width: 225px;
}

.book-description {
  width: 400px;
  height: 150px;
  overflow: auto;
}

#bookDescription {
  height: 500px;
  width: 300px;
  word-break: break-word;
}

#admin-button-grid {
  display: grid;
  grid-template-columns: 105px 80px 80px 70px;
  grid-template-rows: auto auto auto auto;
}

#user-button-grid {
  display: grid;
  grid-template-columns: 105px 80px;
  grid-template-rows: auto auto;
}
