<img class="book-cover" src="$book.getImageUrl()" alt="$book.getTitle() by $book.getAuthor()" />
<h1>You have checked out $book.getTitle()</h1>
<h2>Enjoy! And please return by: _________</h2>
<h2><a href="/admin/$admin.getId()/all-books">Go look at more books</a></h2>
