<h1>Book successfully updated</h1>
<hr>
<h1>$book.getTitle()</h1>
<h2>by $book.getAuthor()</h2>
<img class="book-cover" src="$book.getImageUrl()" alt="$book.getTitle() by $book.getAuthor()" />
<hr>
<h4>$book.getDescription()</h4>
<hr>
