<h1>Success!</h1>
<img class="book-cover" src="$book.getImageUrl()" alt="$book.getTitle() by $book.getAuthor()" />
<h2><a href="/admin/$admin.getId()/book/$book.getId()">$book.getTitle() by $book.getAuthor()</a> was added to the library</h2>
