<img id="library-banner" src="/images/library.jpg" alt="A big ole library" />
<h1>$admin.getUsername() admin's homepage</h1>
<h3><a href="/admin/$admin.getId()/my-books">Return books</a></h3>

<hr>
<h3><a href="/admin/$admin.getId()/find-book">Search for a book</a></h3>
<h3><a href="/admin/$admin.getId()/all-books">View all books</a></h3>
<hr>
<h3><a href="/admin/$admin.getId()/add-book">Add a book to the library</a></h3>
