<img id="library-banner" src="/images/library.jpg" alt="A big ole library" />
<h1>You are now logged on as this $admin.getUsername()'s admin</h1>
<h2><a href="/admin/$admin.getId()/home">Continue to your homepage</a></h2>
