<img class="book-cover" src="$book.getImageUrl()" alt="$book.getTitle() by $book.getAuthor()" />
<h1>You have returned $book.getTitle()</h1>
<h2><a href="/user/$user.getId()/all-books">Go get another book!</a></h2>
