<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/app.css'>
  </head>
  <body>
    <!-- begin inner template-->
    <div class="container-fluid">
      <nav class="navbar nav-fixed-top">
        <ol class="breadcrumb">
          <li><a href="/user/$user.getId()/home">Home</a></li>
          <li><a href="/user/$user.getId()/all-books">Library</a></li>
          <li><a href="/user/$user.getId()/my-books">My books</a></li>
        </ol>
      </nav>

      #parse( $template )

    </div>
    <!-- end inner template-->
  </body>
</html>
