<h1>$user.getUsername()'s homepage</h1>
<hr>
<h3><a href="/user/$user.getId()/find-book">Search for a book</a></h3>
<h3><a href="/user/$user.getId()/all-books">View all books</a></h3>
<hr>
<h3><a href="/user/$user.getId()/borrow-book">Borrow a book</a></h3>
<h3><a href="/user/$user.getId()/return-book">Return a book</a></h3>
